.hero-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
  background: #ffffff;
  /* border-radius: 8px; */
  flex-wrap: wrap;
}

.hero-content {
  flex: 1;
  max-width: 600px;
}

h1 {
  font-size: 2.5rem;
  line-height: 1.4;
  color: #000000;
}
h4 {
  color: #f8091d;
}

.highlight {
  color: #0375aa;
  font-weight: 800;
}

.coming-soon {
  color: #f8091d;
  font-weight: bold;
}

.statistics {
  display: flex;
  /* flex-wrap: wrap; */
  gap: 0.5rem;
  margin: 1.5rem 0;
}

.stat {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  flex: 1 1 calc(50% - 1rem);
}

.icon {
  font-size: 2rem;
  color: #0375aa;
  margin-bottom: 0.5rem;
}

p {
  font-size: 1rem;
  color: #444;
}

.cta-buttons {
  display: flex;
  gap: 1rem;
}

.cta {
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: all 0.3s ease-in-out;
}

.primary {
  background-color: #0375aa;
  color: #fff;
}

.primary:hover {
  background-color: #024a6b;
}

.secondary {
  background-color: #e6f7ff;
  color: #1c2a56;
  border: 1px solid #1c2a56;
}

.secondary:hover {
  background-color: #d0ebff;
}
.team img{
  border-radius: 8px;
}

.hero-image {
  flex: 1;
  max-width: 500px;
  text-align: center;
}

.hero-image img {
  width: 100%;
  border-radius: 8px;
  object-fit: cover;
}

/* Responsive Design */
@media screen and (max-width: 768px) {
  .hero-section {
    flex-direction: column-reverse;
    align-items: center;
  }

  .hero-content {
    max-width: 100%;
    text-align: center;
  }

  h1 {
    font-size: 2rem;
  }

  .statistics {
    flex-direction: column;
    gap: 1rem;
  }

  .stat {
    flex: 1 1 100%;
  }

  .cta-buttons {
    justify-content: center;
  }

  .hero-image {
    max-width: 100%;
    margin-top: 1.5rem;
  }
  .team img{
    max-width: 100%;
  }
}
